* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.list {
  padding: 0px;
  margin: 10px;
}

li {
  display: inline;
  justify-content: flex-start;
  padding: 0px;
  margin: 10px;
}

li .pc {
  display: inline-flex;
  cursor: pointer;
  width: 100px;
  height: 600px;
  background-color: black;
}
