* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgba(139, 131, 131, 0.658);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.list {
  display: flex;
  padding: 10px;
  margin: 10px;
}

li {
  display: inline;
  justify-content: flex-start;
  position: relative;
  padding: 0px;
  margin: 8px;
}

li .pc {
  display: inline-flex;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: green;
  transition: all 600ms;
}

div .tit {
  position: absolute;
  bottom: 20px;
  color: aliceblue;
  transition: all 350ms;
  opacity: 0;
}
